################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiapSmartCity/.vs/FiapSmartCity/FileContentIndex/6ba42f61-d54e-4faf-a4b4-a028a150f4c0.vsidx
/FiapSmartCity/bin/Debug
/FiapSmartCity/FiapSmartCityAPI/bin/Debug/net6.0/appsettings.Development.json
/FiapSmartCity/FiapSmartCityAPI/bin/Debug/net6.0
/FiapSmartCity/FiapSmartCityAPI/obj/Container/AbsoluteOutputAssemblyPath.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/AdditionalProbingPaths.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerCreationResult.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerDevelopmentMode.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerId.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerName.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerOperatingSystemFlavor.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ContainerRunContext.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/DebuggeeArguments.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/DebuggeeKillProcessCommand.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/DebuggeeProgram.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/DebuggeeWorkingDirectory.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/FastModeProjectMountDirectory.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ImageBuildContext.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/ImageId.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/OperatingSystemName.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/TargetFramework.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/VolumeMappings.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Container/VsDbgScript.cache
/FiapSmartCity/FiapSmartCityAPI/obj/Debug/net6.0/ref/FiapSmartCityAPI.dll
/FiapSmartCity/FiapSmartCityAPI/obj/Debug/net6.0/refint/FiapSmartCityAPI.dll
/FiapSmartCity/FiapSmartCityDomain/bin/Debug/net6.0/FiapSmartCityDomain.dll
/FiapSmartCity/FiapSmartCityDomain/bin/Debug/net6.0/FiapSmartCityDomain.pdb
